.flex {
  display: flex
}

.column-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}


.max-width {
  width: 750rpx;
}

.border-solid {
  border: 1rpx solid #F7F7F7;
}

.margin-right-auto {
  margin-right: auto;
}

.text-align {
  text-align: center;
}

.square {
  color: rgb(99, 98, 98);
  font-size: 26rpx;
  margin: 20rpx;
  padding: 20rpx 0 0 10rpx;
  height: 120rpx;
  border: 2rpx solid rgb(204, 204, 204);
  border-radius: 20rpx;
}

.font-size-30rpx {
  font-size: 30rpx;
}

.font-size-24rpx {
  font-size: 24rpx;
}
