
.flex {
  display: flex
}

.column-center {
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}


.max-width {
  width: 750rpx;
}

.border-solid {
  border: 1rpx solid #F7F7F7;
}

.margin-right-auto {
  margin-right: auto;
}

.text-align {
  text-align: center;
}
