.updates-body {
  margin: 30rpx 0;

  .top-bar {
    margin: 30rpx 0 0 auto;

    .tag {
      margin-left: 20rpx;
      color: #F7F7F7;
      background-color: gray;

    }

    .choice-tag {
      background-color: #6190E8;
    }
  }
}
