
.goods-details{
  margin: 30rpx;
}

.goods-property{
  margin: 10rpx;
  font-size: 36rpx;
}

.goods-price{
  font-size: 28rrpx;
}

.goods-num {
  align-self: flex-end;
  margin-bottom: 30rpx;
  margin-left: 60rpx;
}

.goods-num button{
  margin: 10rpx;
  padding-left: 4rpx;
  padding-right: 4rpx;
  width: 40rpx;
  height: 40rpx;
  line-height: 40rpx
}